<footer class="navbar navbar-expand-lg">
  <div class="d-flex flex-column container align-items-start align-items-lg-center">
    <div class="text-center w-100">
      <div class="logo">ANGULAR BLOG</div>
    </div>

    <div class="mt-2">
      <ul class="navbar-nav">
        <li class="nav-item mx-md-2"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item mx-md-2"><a routerLink="/about-us" class="nav-link">About</a></li>
        <li class="nav-item mx-md-2"><a routerLink="/terms-conditions" class="nav-link">Terms & Conditions</a></li>
        <li class="nav-item mx-md-2"><a routerLink="/contact-us" class="nav-link">Contact</a></li>
      </ul>
    </div>

    <div class="text-center w-100">
      <div class="mt-2">Copyright © 2023 S&N Blog site</div>
    </div>
  </div>
</footer>
