<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/categories"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h3 class="text-theme">
            <i class="fas fa-clipboard-list"></i>
          </h3>
          <h5 class="text-theme"> Categories </h5>
          <div> Manage Your Categories Details Here! </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/posts"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h3 class="text-theme">
            <i class="fas fa-file-image"></i>
          </h3>
          <h5 class="text-theme"> Posts </h5>
          <div> Manage Your Posts Details Here! </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/subscribers"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h3 class="text-theme">
            <i class="fas fa-users"></i>
          </h3>
          <h5 class="text-theme"> Subscribers </h5>
          <div> Manage Your Subscribers Here! </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h3 class="text-theme">
            <i class="fa-solid fa-user"></i>
          </h3>
          <h5 class="text-theme"> Account </h5>
          <div> Manage Accounts Register Here! </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h3 class="text-theme">
            <i class="fa-solid fa-gears"></i>
          </h3>
          <h5 class="text-theme"> Settings </h5>
          <div> Manage Your Contact, About, Terms & Conditions Here! </div>
        </div>
      </div>
    </div>
  </div>
</div>
