<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/categories"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h2 class="text-theme">
            <i class="fas fa-clipboard-list"></i>
          </h2>
          <h4 class="text-theme"> Categories </h4>
          <div> Manage Your Categories Details Here! </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div 
        class="card shadow-effect" 
        routerLink="/posts"
      >
        <div 
          class="card-body text-center bg-secondary-theme d-flex flex-column align-items-center justify-content-center" 
        >
          <h2 class="text-theme">
            <i class="fas fa-file-image"></i>
          </h2>
          <h4 class="text-theme"> Posts </h4>
          <div> Manage Your Posts Details Here! </div>
        </div>
      </div>
    </div>
  </div>
</div>
