<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme"> All Blog Posts </h3>
          <p class="text-theme"> From here you can manage all blog posts. </p>
          
          <button type="button" class="btn btn-info bg-theme" routerLink="/posts/new">Add New Post</button>
          <button type="button" class="btn btn-warning ml-2" routerLink="/">Back to Dashboard</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th> No </th>
                <th> Post Image </th>
                <th> Title </th>
                <th> Excerpt </th>
                <th> Category </th>
                <th> Date </th>
                <th> Actions </th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let item of postList; let i = index">
                <td width="10">{{ i + 1 }}</td>
                <td width="180"><img [src]="item.data.postImgUrl" class="img img-fluid"></td>
                <td width="150">{{ item.data.title }}</td>
                <td width="300">
                  <div class="clamp-4">{{ item.data.excerpt }}</div>
                </td>
                <td>{{ item.data.category.categoryName }}</td>
                <td>{{ item.data.createdAt.toMillis() | date }}</td>
                <td class="d-flex flex-wrap" style="gap: 5px;">
                  <button type="button" class="btn btn-sm btn-warning" routerLink="/posts/new" [queryParams]="{ id: item.id }">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item.data.postImgUrl, item.id, modal)">Delete</button>

                  <button 
                    *ngIf="!item.data.isFeatured"
                    class="btn btn-sm btn-success" 
                    (click)="onFeatured(item, true)"
                  >
                    Make Featured
                  </button>

                  <button 
                    *ngIf="item.data.isFeatured" 
                    class="btn btn-sm btn-info" 
                    (click)="onFeatured(item, false)"
                  >
                    Remove Featured
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <app-modal></app-modal>
</ng-template>
